@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    color: #000;
    position: relative;
    -ms-overflow-style: none;
}
::-webkit-scrollbar { display: none;
}
a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 20%;
    background-color: #fff;
    z-index: 999;
    height: 100%;
    overflow: hidden;
    border-right: #000 1px solid;
}
header > a {
    font-size: 3vw;
    border-right: #000 solid 1px;
    padding-right: 1.7vw;
}
header #gnb {
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
header #gnb li {
    border-top: 1px solid #000;
}
header #gnb li:last-child {
    border-bottom: 1px solid #000;
}
header #gnb a {
    font-size: 2vw;
}
header #gnb li:hover {
    background-color: rgb(231, 255, 189);
}
header .sns {
    position: absolute;
    right: 2vw;
    display: flex;
    flex-wrap: wrap;
    bottom: 2vw;
}
header .sns a:first-child {
    width: 2.8vw;
    height: 2.8vw;
    background: url("../images/instagram.png") no-repeat 100% center / cover;
}
header .sns a:last-child {
    width: 2.8vw;
    height: 2.8vw;
    margin-left: 1.0vw;
    background: url("../images/facebook.png") no-repeat 100% center / cover;
}
.bg {
    cursor: pointer;
}
.bg1 {
    width: 12vw;
    height: 12vw;
    z-index: 9999;
    background: url("../images/bg01.png") no-repeat 100% / cover;
    position: absolute;
    bottom: 4vw;
    animation: rotate_image 15s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}
.bg2 {
    width: 7vw;
    height: 7vw;
    z-index: 9999;
    background: url("../images/bg03.png") no-repeat 100% / cover;
    position: absolute;
    top: 17vw;
    left: 12vw;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}
.bg3 {
    width: 4.4vw;
    height: 4.4vw;
    z-index: 9999;
    background: url("../images/bg02.png") no-repeat 100% / cover;
    position: absolute;
    top: 0;
    left: 15.5vw;
    animation: rotate_image 5s linear infinite;
    transform-origin: 50% 50%;
}
.bg1:hover,
.bg2:hover,
.bg3:hover {
    animation-play-state: paused;
}

/* footer */
footer {
    width: 100%;
    height: 8vw;
}
footer span {
    position: absolute;
    left: 0;
    bottom: 7vw;
}
